body {
    background-color: burlywood;
}

.curriculum {
    width: 70%;
    height: 1400px;
    background-color: azure;
    margin-left: 15%;
    border-radius: 12px;
}

header {
    margin-left: 5%;
    background-color: gold;
    width: 90%;
    height: 250px;
    display: grid;
    grid-template-columns: 38% 24% 38%;
}

.cuadroCafe {
    margin-left: 34%;
    width: 200px;
    height: 170px;
    background-color: rgb(105, 77, 54);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    font-size: 45px;
    font-family:  impact, bolder;
}

.ocupacion {
    margin-left: 38%;
    font-size: 16px;
    font-weight: bold;
}

.textcuadroCafe1 {
    color: gold;
}

.textcuadroCafe2 {
    color: azure;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bloq1 {
    text-align: left;
    margin-left: 20%;
    height: 300px;
    width: 70%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 7%;
    font-size: 15px;
}

.containerIcons1 {
    display: flex;
    gap: 30px;
}
.containerTexts1 {
    display: flex;
    gap: 30px;
    margin-top: -5%;
    font-size: 10px;
    margin-bottom: 20%;
}

.icono {
    width: 50px;
    height: 50px;
}

.textoAlReves1 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-100deg);
    font-size: 40px;
    font-weight: bold;
}

.textoAlReves2 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-100deg);
    font-size: 40px;
    font-weight: bold;
}

.textoAlReves3 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-100deg);
    font-size: 40px;
    font-weight: bold;
}

.textoAlReves4 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-100deg);
    font-size: 40px;
    font-weight: bold;
}

.bloq2 {
    width: 70%;
    margin-left: 17%;
    margin-top: 7%;
    font-size: 15px;
}

.containerBarra {
    margin-top: 10%;
    gap: 50px;
}

.fondo1 {
    background-color: gray;
    width: 200px;
    height: 10px;
    border-radius: 12px;
}

.fondo2 {
    background-color: gray;
    width: 200px;
    height: 10px;
    border-radius: 12px;
}

.fondo3 {
    background-color: gray;
    width: 200px;
    height: 10px;
    border-radius: 12px;
}

.linea1 {
    background-color: gold;
    width: 90px;
    height: 10px;
    border-radius: 12px 0px 0px 12px;
    position: absolute;
    margin-top: -0.8%;
}

.linea2 {
    background-color: gold;
    width: 110px;
    height: 10px;
    border-radius: 12px 0px 0px 12px;
    position: absolute;
    margin-top: -0.8%;
}

.linea3 {
    background-color: gold;
    width: 50px;
    height: 10px;
    border-radius: 12px 0px 0px 12px;
    position: absolute;
    margin-top: -0.8%;
}